
html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {

    width: 100%;
    height: 69px;
    position: fixed;
    display: flex;
    border-bottom: 1px solid seashell;
    background-color: black;  
    top: 0; 
    justify-content: space-between;  
    z-index: 1;   
}

header nav p {

    display: inline-flex;
 
}

a {

    margin: 10px;
    color: white;
}


header img {

    height: 50px;
    margin-left: 10px;
   
    
}

.mission img {

    max-height: 700px;
    max-width: 1200;
    width: 60%;
 
    
    
}
.mission-title{
    
    position: absolute;
    background-color: black;
    top: 30%;
    width: 100%;
    margin: auto;

}

.tea {

    position: relative;
    max-width: 1200px;
   margin: auto;
}

.tea images {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea img {

    max-width: 300px;
    max-height: 200px;  
    margin: 10px; 
}

.locations  {
    
    max-width: 1200px;
    height: 700px; 
    background-image: url(./img-locations-background.jpg);
    margin: 20px auto; 
    position: relative;
    
}

.location  {
    
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    top: 20%;
    display: flex;   

}

.location div {

    margin: 15px 40px;
    background-color: black;
    width: 300px;
    opacity: 1;
}

.locations h1 {
 
    display: inline;
    color: white;
    position: relative;
    top: 10%;

}

.contacts {
    position: relative;
    top: 250px;
    max-height: 200px;
    background-color: black;
}

.copyright {
    bottom: 75px;
    float: left;
}


@media only screen and (max-width: 1000px) {


    .mission-title {
        top: 10%;
 
    }

    header {
        flex-wrap: wrap; 
        height: auto; 
        justify-content: center; 
       }
    
}
